# NPM modules
node_modules

# NPM debug log
npm-debug.log

# Webstorm files
.idea

# Visual studio code files
typings
.vscode

# Mac OS files
.DS_Store

# Files with secret information
development.js
production.js
server/config/local.js